/* styles for aia table */

table {
width:80%;
margin:auto;
border-collapse: collapse;
}

td,th {
border: 1px solid #000;
padding: 1em;
}

table.client {
border:5px solid pink;
margin-bottom: 2em;
}

table.client th {
    text-align: left;
}

table.audience {
border:5px solid pink;
}

tr:nth-of-type(odd) {
  background-color:#ccc;
}

.percent30 {
    width:30%;
}